
form(method="POST" action="/new")
      label(for="authorName") Name: 
      input(type="text", name="authorName" id="authorName" required) 
      label(for="messageText") Message: 
      textarea(name="messageText" cols="30" id='messageText' required) 
      button(type="submit") Submit